.features {
  padding: 50px 20px;
  background-color: #fff;
  color: hsl(207, 13%, 34%);
  text-align: center;
 

  h2 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: hsl(208, 49%, 24%);
    
  }

  .features-content {
    display: flex;
    gap: 400px;

 
      .feature-image-mobile {
        display: block;
        max-width: 100%;
        margin-bottom: 20px;
      }

      .feature-image-desktop {
        display: none;
        
      }

      .feature-text {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
     

        h3 {
          font-family: 'Overpass', sans-serif;
          font-weight: 600;
          font-size: 24px;
          margin-bottom: 20px;
          color: hsl(208, 49%, 24%);
        }

        p {
          font-family: 'Overpass', sans-serif;
          font-weight: 300;
          font-size: 16px;
          margin-bottom: 50px;
        }
      
    }
  }

  .featuresW{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;

  }

  @media (min-width: 1440px) {
    .features-content {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;

      .feature {
        max-width: 45%;
        flex-direction: row;

        .feature-image-mobile {
          display: none;
        }

        .feature-image-desktop {
          display: block;
          max-width: 100%;
          margin-right: 20px;
        }

        .feature-text {
          margin: 0;
        }
      }
    }
  }
}
