.infrastructure {
  padding: 50px 20px;
  background-color: hsl(240, 100%, 99%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  display: flex;
  background-color: hsl(237, 23%, 32%);
  height: 30vh;
   border-radius: 0 6.25rem 0 6.25rem;
  

  h2 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: hsl(210, 20%, 90%);
    margin-bottom: 20px;
  }

  p {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 16px;
   
  }

  .infrastructure-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

    .image-mobile {
      display: block;
      max-width: 100%;
    }

    .image-desktop {
      display: none;
    }
  }
  .story{
    margin-top: 70px;
  }

  @media (min-width: 1440px) {
    .infrastructure-images {
      .image-mobile {
        display: none;
      }

      .image-desktop {
        display: block;
        max-width: 100%;
      }
    }
  }
}
